:root {
  --shadow-color-light: rgb(128 128 128 / 50%);
  --shadow-color-dark: rgb(128 128 128 / 80%);
  --font-color: midnightblue;
  --card-color: aliceblue;
  --attribution-primary: darkgreen;
  --attribution-links: darkolivegreen;
  --title-color: white;
}

* {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: var(--font-color);
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("../img/bahnijit-barman-1fZC2rYbpsU-unsplash.jpg");
  background-size: cover;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(0 0 0 / 70%);
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 5px;
  color: var(--attribution-primary);
  font-size: 14px;
}

.attribution a {
  color: var(--attribution-links);
  font-size: 14px;
}

.container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__title {
  color: var(--title-color);
  font-size: 50px;
}

.pokemon-list {
  list-style: none;
  padding: 0;
  width: 450px;
}

.pokemon-list__item {
  display: flex;
  justify-content: center;
}

.pkm-btn {
  margin: 1rem;
  padding: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 20px 20px 10px var(--shadow-color-light);
  width: 80%;
  background-color: var(--card-color);
  display: flex;
  justify-content: center;
  transition: margin 0.5s, box-shadow 0.5s;
}

.pkm-btn:hover,
.pkm-btn:active {
  margin: 1.5rem 0.5rem 0.5rem 1.5rem;
  box-shadow: 10px 10px 5px var(--shadow-color-dark);
}

@media all and (max-width: 500px) {
  .container {
    width: 90%;
  }

  .container__title {
    font-size: 30px;
  }

  .pokemon-list {
    width: 100%;
  }

  .pkm-btn {
    box-shadow: 10px 10px 5px var(--shadow-color-light);
    margin: 0.5rem;
  }

  .pkm-btn:hover,
  .pkm-btn:active {
    margin: 0.75rem 0.25rem 0.25rem 0.75rem;
    box-shadow: 5px 5px 2.5px var(--shadow-color-dark);
  }
}
