/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

* {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: midnightblue;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("../img/bahnijit-barman-1fZC2rYbpsU-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(0 0 0 / 70%);
}

.loading-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loading-page.hidden {
  display: none;
}

.loading-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 40px aliceblue;
          box-shadow: 0 0 40px aliceblue;
  -webkit-animation: loading-animation 6s infinite;
          animation: loading-animation 6s infinite;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes loading-animation {
  0% {
    background-color: #c19ab7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }

  25% {
    background-color: #9c95dc;
    border-radius: 30%;
    width: 100px;
    height: 100px;
  }

  50% {
    background-color: #170a1c;
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }

  75% {
    background-color: #0b7189;
    border-radius: 30%;
    width: 100px;
    height: 100px;
  }

  100% {
    background-color: #228cdb;
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }
}

@keyframes loading-animation {
  0% {
    background-color: #c19ab7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }

  25% {
    background-color: #9c95dc;
    border-radius: 30%;
    width: 100px;
    height: 100px;
  }

  50% {
    background-color: #170a1c;
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }

  75% {
    background-color: #0b7189;
    border-radius: 30%;
    width: 100px;
    height: 100px;
  }

  100% {
    background-color: #228cdb;
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }
}

/* MODAL STYLING */
.modal-header .close {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.modal-header .close span {
  font-size: 1.5rem;
  line-height: 1;
}

.pokemon-types {
  text-align: center;
  margin: auto;
}

.first-type,
.second-type {
  padding: 5px 10px;
  margin: 0 10px;
}

.modal-body {
  text-align: center;
  margin: auto;
}

.modal-image {
  width: 100%;
}

/* END MODAL STYLING */

.attribution {
  color: darkgreen;
  font-size: 14px;
}

.attribution a {
  color: darkolivegreen;
  font-size: 14px;
}

.page-container {
  position: relative;
  margin-top: 60px;
}

.page-container__title {
  color: white;
  font-size: 50px;
}

.list-group {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.list-group-item {
  background: transparent;
  border: none;
}

.pkm-btn {
  margin: 1rem;
  padding: 20px;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 20px 20px 10px rgb(128 128 128 / 50%);
          box-shadow: 20px 20px 10px rgb(128 128 128 / 50%);
  width: 90%;
  background-color: aliceblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: margin 0.5s, -webkit-box-shadow 0.5s;
  transition: margin 0.5s, -webkit-box-shadow 0.5s;
  -o-transition: margin 0.5s, box-shadow 0.5s;
  transition: margin 0.5s, box-shadow 0.5s;
  transition: margin 0.5s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
  cursor: pointer;
}

.pkm-btn:hover {
  margin: 1.5rem 0.5rem 0.5rem 1.5rem;
  -webkit-box-shadow: 10px 10px 5px rgb(128 128 128 / 80%);
          box-shadow: 10px 10px 5px rgb(128 128 128 / 80%);
}

.pkm-btn:active {
  margin: 1.5rem 0.5rem 0.5rem 1.5rem;
  -webkit-box-shadow: 10px 10px 5px rgb(128 128 128 / 80%);
          box-shadow: 10px 10px 5px rgb(128 128 128 / 80%);
}

@media all and (max-width: 500px) {
  .page-container {
    margin-top: 120px;
  }

  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .navbar .form-inline {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .pkm-btn {
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0.5rem;
    width: 95%;
  }

  .pkm-btn:hover,
  .pkm-btn:active {
    margin: 0.5rem;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media all and (max-width: 575px) and (min-width: 501px) {
  .page-container {
    margin-top: 90px;
  }
}

@media all and (max-width: 575px) {
  .page-container__title {
    display: none;
  }
}