:root {
  --shadow-color-light: rgb(128 128 128 / 50%);
  --shadow-color-dark: rgb(128 128 128 / 80%);
  --font-color: midnightblue;
  --card-color: aliceblue;
  --attribution-primary: darkgreen;
  --attribution-links: darkolivegreen;
  --title-color: white;
}

* {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: var(--font-color);
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("../img/bahnijit-barman-1fZC2rYbpsU-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(0 0 0 / 70%);
}

.loading-page {
  display: flex;
  justify-content: center;
}

.loading-page.hidden {
  display: none;
}

.loading-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 0 40px var(--card-color);
  animation: loading-animation 6s infinite;
  color: var(--title-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes loading-animation {
  0% {
    background-color: #c19ab7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }

  25% {
    background-color: #9c95dc;
    border-radius: 30%;
    width: 100px;
    height: 100px;
  }

  50% {
    background-color: #170a1c;
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }

  75% {
    background-color: #0b7189;
    border-radius: 30%;
    width: 100px;
    height: 100px;
  }

  100% {
    background-color: #228cdb;
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }
}

/* NAVBAR */
.navbar-brand {
  cursor: pointer;
}

/* MODAL STYLING */
.modal-header .close {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.modal-header .close span {
  font-size: 1.5rem;
  line-height: 1;
}

.pokemon-types {
  text-align: center;
  margin: auto;
}

.first-type,
.second-type {
  padding: 5px 10px;
  margin: 0 10px;
}

.modal-body {
  text-align: center;
  margin: auto;
}

.modal-image {
  width: 100%;
}

/* END MODAL STYLING */

.attribution {
  color: var(--attribution-primary);
  font-size: 14px;
}

.attribution a {
  color: var(--attribution-links);
  font-size: 14px;
}

.page-container {
  position: relative;
  margin-top: 60px;
}

.page-container__title {
  color: var(--title-color);
  font-size: 50px;
}

.list-group {
  flex-direction: row;
}

.list-group-item {
  background: transparent;
  border: none;
}

.pkm-btn {
  margin: 1rem;
  padding: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 20px 20px 10px var(--shadow-color-light);
  width: 90%;
  background-color: var(--card-color);
  display: flex;
  justify-content: center;
  transition: margin 0.5s, box-shadow 0.5s;
  cursor: pointer;
}

.pkm-btn:hover,
.pkm-btn:active {
  margin: 1.5rem 0.5rem 0.5rem 1.5rem;
  box-shadow: 10px 10px 5px var(--shadow-color-dark);
}

@media all and (max-width: 500px) {
  .page-container {
    margin-top: 120px;
  }

  .navbar {
    flex-direction: column;
  }

  .navbar .form-inline {
    justify-content: center;
  }

  .pkm-btn {
    box-shadow: none;
    margin: 0.5rem;
    width: 95%;
  }

  .pkm-btn:hover,
  .pkm-btn:active {
    margin: 0.5rem;
    box-shadow: none;
  }
}

@media all and (max-width: 575px) and (min-width: 501px) {
  .page-container {
    margin-top: 90px;
  }
}

@media all and (max-width: 575px) {
  .page-container__title {
    display: none;
  }
}
