/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

* {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: midnightblue;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("../img/bahnijit-barman-1fZC2rYbpsU-unsplash.jpg");
  background-size: cover;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(0 0 0 / 70%);
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 5px;
  color: darkgreen;
  font-size: 14px;
}

.attribution a {
  color: darkolivegreen;
  font-size: 14px;
}

.container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__title {
  color: white;
  font-size: 50px;
}

.pokemon-list {
  list-style: none;
  padding: 0;
  width: 450px;
}

.pokemon-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pkm-btn {
  margin: 1rem;
  padding: 20px;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 20px 20px 10px rgb(128 128 128 / 50%);
          box-shadow: 20px 20px 10px rgb(128 128 128 / 50%);
  width: 80%;
  background-color: aliceblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: margin 0.5s, -webkit-box-shadow 0.5s;
  transition: margin 0.5s, -webkit-box-shadow 0.5s;
  -o-transition: margin 0.5s, box-shadow 0.5s;
  transition: margin 0.5s, box-shadow 0.5s;
  transition: margin 0.5s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
  cursor: pointer;
}

.pkm-btn:hover {
  margin: 1.5rem 0.5rem 0.5rem 1.5rem;
  -webkit-box-shadow: 10px 10px 5px rgb(128 128 128 / 80%);
          box-shadow: 10px 10px 5px rgb(128 128 128 / 80%);
}

.pkm-btn:active {
  margin: 1.5rem 0.5rem 0.5rem 1.5rem;
  -webkit-box-shadow: 10px 10px 5px rgb(128 128 128 / 80%);
          box-shadow: 10px 10px 5px rgb(128 128 128 / 80%);
}

@media all and (max-width: 500px) {
  .container {
    width: 90%;
  }

  .container__title {
    font-size: 30px;
  }

  .pokemon-list {
    width: 100%;
  }

  .pkm-btn {
    -webkit-box-shadow: 10px 10px 5px rgb(128 128 128 / 50%);
            box-shadow: 10px 10px 5px rgb(128 128 128 / 50%);
    margin: 0.5rem;
  }

  .pkm-btn:hover {
    margin: 0.75rem 0.25rem 0.25rem 0.75rem;
    -webkit-box-shadow: 5px 5px 2.5px rgb(128 128 128 / 80%);
            box-shadow: 5px 5px 2.5px rgb(128 128 128 / 80%);
  }

  .pkm-btn:active {
    margin: 0.75rem 0.25rem 0.25rem 0.75rem;
    -webkit-box-shadow: 5px 5px 2.5px rgb(128 128 128 / 80%);
            box-shadow: 5px 5px 2.5px rgb(128 128 128 / 80%);
  }
}